 # Запускаем движок замены

RewriteEngine on

 # Если запрашиваемый объект не папка

RewriteCond %{REQUEST_FILENAME} !-d

 # если запрашиваемый объект с дописанным расширением php - файл

RewriteCond %{REQUEST_FILENAME}\.php -f

 # делаем замену с дописыванием .php

RewriteRule ^(.*)$ $1.php

# Страница ошибок
# Bad Request
ErrorDocument 400 /error.php
# Unautorized
ErrorDocument 401 /error.php
# Forbidden
ErrorDocument 403 /error.php
# Not Found
ErrorDocument 404 /error.php
# Internal Server Error
ErrorDocument 500 /error.php



